//META{"name":"DarkCyberWeb","description":"DarkCyberWeb Official Theme","author":"Parona","version":"1"}*//{}

/* IMPORT CSS FROM GITHUB */
@import url(https://zerthox.github.io/DarkCyberWeb.theme.css);
/*
---------------------------------------------------------------------------------------------------------------------------------------------

---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------

---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
============== CUSTOMIZABLE COLORS ===============
*/
:root {
	--main-color: #FF0000;
	--hover-color: #FF4747;
    --background-blur: 0px;
    --background-brightness: 100%;
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
========= CUSTOMIZABLE BACKGROUND IMAGE ==========
*/
body::after,
.callout-backdrop,
.userPopout-11hFKo::before,
.userPopout-3XzG_A::before,
.root-SR8cQa::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label {
    background-image: url(https://cdn.discordapp.com/attachments/564793232391667742/569543092433321984/dcw10.png) !important; /* IMPORTANT: Link must be HTTPS! */
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/

/* HALLOWEEN LOADING ANIMATION */
:root {
    --load1: "Yukleniyor.";
    --load2: "Yukleniyor..";
    --load3: "Yukleniyor...";
    --load4: "Yuklenme bitti.";
}
